<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Enter your confirmation code</h1>
    <p>A confirmation code was just texted to the phone number you provided. Enter it here</p>
    <%= form_for @cooper, url: activate_cooper_path do |f| %>
      <div class="form-group">
        <%= f.label :activation_code, "Activation Code" %>
        <%= f.text_field :activation_code, class: "form-control", value: "" %>
      </div>

      <%= f.submit "Submit", class: "btn btn-block btn-success" %>
    <% end %>
  </div>
</div>
