<% if plates.empty? %>
  <strong>Huzzah! No late plates tonight!</strong>
<% else %>
  <h4>
    There <%= plates.count == 1 ? "is" : "are" %>
    <%= pluralize(plates.count, "late plate") %> tonight!
  </h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Added at</th>
      </tr>
    </thead>
    <% plates.each do |p| %>
      <tr class="late-plate">
        <td><%= p.cooper.initialized_name %></td>
        <td><%= p.simple_time_with_date %></td>
      </tr>
    <% end %>
  </table>
<% end %>
