<h3>Quick Reference</h3>

<table class="table table-bordered" id="quick-reference">
  <thead>
    <tr>
      <th>You want to...</th>
      <th>You text...</th>
    </tr>
  </thead>
  <tr>
    <td>Add a late plate for today</td>
    <td>today</td>
  </tr>
  <tr>
    <td>Add a plate for tomorrow</td>
    <td>tomorrow</td>
  </tr>
  <tr>
    <td>Add a plate for next Friday</td>
    <td>next friday</td>
  </tr>
  <tr>
    <td>Remove your most recent addition</td>
    <td>undo</td>
  </tr>
  <tr>
    <td>Get all late plates for today</td>
    <td>get all</td>
  </tr>

</table>
<small>see <%= link_to("help page", help_path) %> for more info and commands</small>
