<h1 class="text-center"> <%= @today %> </h1>

<div class="col-md-6">
  <h2>Foster (the Zooo)</h2>
  <%= render "plate_table", { plates: @plates.for_foster } %>
</div>

<div class="col-md-6">
  <h2>Elmwood</h2>
  <%= render "plate_table", { plates: @plates.for_elmwood } %>
</div>

<h3>Old School...</h3>

<div class="row">
  <iframe id="lp-google-sheet" frameborder="1" src="https://docs.google.com/spreadsheet/pub?key=0AshAEGc87QzidGNrRTdrWFN2NUkyM1prUHpRSjl1TWc&single=true&gid=0&output=html&widget=true"></iframe>
</div>
